* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --branco: #fff;
    --header: #f5f0e8;
    --grey: #333;
    --lightgray: #666;
} 

body {
    font-family: Arial, sans-serif;
    color: var(--grey);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    background-color: var(--header);
    padding: 20px;
}



.logo {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
text-decoration: none;
    color: var(--grey);
    font-weight: bold;
}

nav ul li a:hover {
    color: var(--lightgray);
}

.banner {
    background-image: url(./imagens/imagem\ do\ background.jpeg); /* Insira aqui o caminho da imagem */
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--branco);
}

.banner h1 {
    font-size: 64px;
    font-family: 'Arial', sans-serif;
}

.banner p {
    font-size: 24px;
    margin: 10px 0;
}

.button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 2px solid var(--branco);
    color: var(--branco);
    text-decoration: none;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s;
}

.button:hover {
    background-color: var(--branco);
    color: var(--grey);
}
